extends layout

block content
  h1= title
  p Bem Vindo a #{title}
  div.top

    label Cep Informado: #{codigo}
    label Endereço : #{end}
    label Lat: #{latlong.location.lat}
    label Lng: #{latlong.location.lng}
    label ---------------------------------------
    label Oficinas mais pŕoximas
    p
    label Oficina:  #{oficinaName}
    label Endereço: #{oficinaEnd}
    label Telefone: #{oficinaTel}
    label Lat: #{oficinaLat}
    label Lng: #{oficinaLng}

  div.container
    div.content
  div.footer
